[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
opencv-python = "*"
pafy = "*"
youtube-dl = "*"
pygame = "*"

[dev-packages]

[requires]
python_version = "3.7"
